<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<label for="favorite_team">Любимая команда:</label>
<input type="text" name="team" id="favorite_team" list="team_list">
<datalist id="team_list">
    <option>Бавария</option>
    <option>Бенфика</option>
    <option>Боруссия</option>
    <option>Брюгге</option>
    <option>Анталия</option>
    <option>Самара</option>
    <option>Реал</option>

    <!-- и т.д. -->
</datalist>

<label for="country">Страна:</label>
<input type="text" id=country class=" ">
<datalist id="country_list">
    <option value="AF">Афганистан</option>
    <option value="AX">Аландские острова</option>
    <option value="AL">Албания</option>
    <option value="DZ">Алжир</option>
    <!-- и остальные -->
</datalist>
<div>

</div>
</body>
</html>